.footer {
    background: var(--secondary-color);
    padding: 50px 0;
}

.footer__block {
}

.footer__block-copyright {
    color: var(--primary-color);
    font-family: var(--font-family-sans-serif), serif;
    line-height: 17px;
    display: flex;
    align-items: center;
}

.footer__block-social-img {
    display: flex;
    align-items: center;
}

.footer__block-nav {
}

.footer__block-nav-link {
    color: var(--primary-color);
    font-family: var(--font-family-sans-serif), serif;
    line-height: 32px;
    text-transform: capitalize;
    transition: transform 0.3s ease, background 0.3s ease;
}

.footer__block-nav-link:hover {
    color: var(--third-color);
    text-decoration: underline;
}

.footer__block-nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
}

.footer__block-nav-link:hover::after {
    width: 100%;
}

.footer__block-social {
}

.footer__block-subscribe {
    position: relative;
    display: flex;
}

.footer__block-subscribe-input {
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    outline: none;
    padding: 6px 40px 5px 5px;
}

.footer__block-subscribe-btn {
    position: absolute;
    right: 0;
    background: var(--primary-color);
    border: none;
    width: 30px;
    aspect-ratio: 1/1;
    cursor: pointer;
}

@media (max-width: 1130px) {
    .footer__block {
        gap: 18px;
    }
}

@media (max-width: 980px) {
    .footer__block {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 5vw;
    }

    .footer__block-nav {
        flex-wrap: wrap;
    }
}